.frame-1 .image-1 {
  background: url('../assets/images/image_1.png') 50% / cover no-repeat;
  width: 771px;
  height: 668px;
}
.frame-1 {
  background: #FFFFFF;
  display: flex;
  padding: 0 19px 15px 0;
  width: 751px;
  box-sizing: border-box;
}
